.game-intro-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1c1c1c;
  color: white;
  font-family: "Cinzel Decorative", cursive;
}

.game-intro-page-tittle {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.description-tittle {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.description-text {
  font-weight: bold;
}

.chose-name-tittle {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.enter-name-label {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.enter-name-input-box {
  font-size: 1.2rem;
  margin-left: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}

.ready-message {
  font-size: 1.2rem;
  margin-top: 2rem;
}

.big-emojis {
  font-size: 2rem;
}

.start-adventure-button {
  font-size: 1.2rem;
  margin-top: 2rem;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  border: none;
  background-color: #c40000;
  color: white;
  cursor: pointer;
}

.start-adventure-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
